# Ignore node_modules
node_modules

# Ignore .github directory
.github

# Ignore npm debug log
npm-debug.log

# Ignore husky files
.husky

# Ignore local environment files
.env
.git
.DS_Store
.idea

# Ignore Cypress screenshots and videos
cypress/reports/screenshots/**
cypress/reports/videos/**

# Ignore Cypress reports
cypress/reports/**

# Ignore Development-data
development-data/**

# Ignore Cypress sensitive data
cypress/sensitive-data/**

# Ignore logs
logs/**
*.log

# Ignore documentation
docs

# Ignore README assets
assets

# Ignore Dockerfile
Dockerfile*

# Ignore Prettier configuration files
.prettierignore
.prettierrc.js

# Ignore ESLint configuration files
.eslintrc.js
eslint-plugin-custom-rules

# End of file