# compiled output
dist

# separate reports
!cypress/reports/mochawesome/.gitkeep
!cypress/reports/screenshots/.gitkeep
cypress/reports/**

# asset folders
cypress/downloads
cypress/fixtures/assets

# dependencies
node_modules

# sensitive data
!cypress/sensitive-data/env-users.example.json
cypress/sensitive-data/**

# IDEs and editors
.idea
.vscode

# system Files
.DS_Store
Thumbs.db

# temporary fixtures
**/preconditions/temp/**

# local files
certs/local/**
target
.env

# VS
/.vs
